<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>ENSE 374 Lab 3</title>
  <meta name="author" content="Jacob Meyer">
  <link rel="stylesheet" href="../public/style.css">
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>

</head>

<body>
  <h1>Green Text</h1>

  <form action="/inputProcess" name="testJSON" method="POST">
    <button id="showAdmin">show user "admin" information</button>
  </form>

  <form action="/inputUserData" name="userInput" method="POST">
    <input type="text" name="usernameInput" id="usernameInput" />
    <input type="text" name="passwordInput" id="passwordInput" />
    <button type="submit">Insert User Data</button>
  </form>

  <script src="../js/jsonFunctions.js"></script>
  <script src="../js/login.js"></script>
</body>

</html>